astroid>=2.4.1
certifi>=2020.4.5.1
chardet>=3.0.4
colorama>=0.4.3
decorator>=4.4.2
idna>=2.9
isort>=4.3.21
lazy-object-proxy>=1.4.3
lxml>=4.5.0
mccabe>=0.6.1
networkx>=2.4
numpy>=1.18.4
pandas>=1.0.3
pylint>=2.5.2
python-dateutil>=2.8.1
pytrends>=4.7.2
pytz>=2020.1
requests>=2.23.0
rope>=0.17.0
six>=1.14.0
toml>=0.10.0
tqdm>=4.46.0
urllib3>=1.25.9
wrapt>=1.12.1
